@model IEnumerable<AppCarsUsers.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seznam uživatelů</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonIdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address.ZIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountCars)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PersonIdNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address.Street)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address.ZIP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CountCars)
    </td>


    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>

</tr>
    }

</table>
